.wrapper {
    width: 560px;
    height: 240px;
    border-bottom: 1px solid #f7f7f7;
    margin: 240px auto;
}

.warning {
    text-align: center;
    font: 36px;
}

.button {
    width: 360px;
    text-align: center;
    margin: 0 auto;
    font: 32px;
}