.wrapper {
    width: 90%;
    margin: 3% auto;
    color: #F7F7F7;

}


.selector_wrapper {
    display: grid;
    width: 100%;
    padding: 12px;
    font-size: 32px;
    border: 1px solid #F7F7F7;

}

.selector_item {
    margin-right: 12px;
}

.data_wrapper {
    margin: 30px auto;
    width: 100%;
    font-size: 32px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.data_wrapper::-webkit-scrollbar {
    display: none;
}

.keys_wrapper {
    width: 100%;
    display: grid;
    gap: 0 7px;
    margin-bottom: 6px;
    border-bottom: 2px double #F7F7F7;
}

.keys_item {
    font-size: 26px;
    padding-left: 3px;

}

.values_wrapper {
    width: 100%;
    display: block;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.values_wrapper::-webkit-scrollbar {
    display: none;
}

.values_row {
    display: grid;
    gap: 0 7px;
    border: 1px solid #F7F7F7;

}

.values_item {
    font-size: 22px;
    padding-left: 3px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.values_item::-webkit-scrollbar {
    display: none;
}

.grid_4_cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid_5_cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid_13_cols {
    grid-template-columns: repeat(13, 1fr);
}