.wrapper {
    width: 90%;
    margin: 3% auto;
    color: #F7F7F7;
}


.selector_wrapper {
    display: grid;
    width: 100%;
    padding: 12px;
    font-size: 32px;
    border: 1px solid #F7F7F7;
}

.selector_item {
    margin-right: 12px;
}

.data_wrapper {
    margin: 30px auto;
    width: 95%;
    height: 80px;
    font-size: 32px;
}

.keys_wrapper {
    width: 100%;
    display: grid;
    margin-bottom: 6px;
    border-bottom: 2px solid #F7F7F7;
}

.keys_item {
    font-size: 24px;
}

.values_wrapper {
    width: 100%;
    display: block;
}

.values_row {
    display: grid;
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 5px;
}

.values_item {
    font-size: 22px;
}

.grid_4_rows {
    grid-template-columns: repeat(4, auto);
}

.grid_5_rows {
    grid-template-columns: repeat(5, auto);
}

.grid_13_rows {
    grid-template-columns: repeat(13, auto);
}