.wrapper {
    width: 90%;
    margin: 3% auto;
    color: #F7F7F7;
}


.selector_wrapper {
    display: flex;
    width: 100%;
    height: 120px;
    font-size: 32px;
}

.selector_item {
    margin: 0 8px;
}

.data_wrapper {
    margin: 30px auto;
    width: 95%;
    height: 80px;
    font-size: 32px;
}

.keys_wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 6px;
    justify-content: space-between;
    border-bottom: 2px solid #F7F7F7;
}

.keys_item {
    font-size: 24px;
}

.values_wrapper {
    width: 100%;
    display: block;
}

.values_row {
    display: flex;
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 5px;
    justify-content: space-between;
}

.values_item {
    font-size: 22px;
}