.wrapper {
    min-width: 100%;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
}

.wrapper:hover {
    background-color: azure;
}

.wrapper>span {
    margin-left: 8px;
}

@media (prefers-color-scheme: dark) {
    .wrapper {
        color: white;
        background-color: #3c3c3c;
    }

    .wrapper:hover {
        color: #e7f21e;
        background-color: #3c3000;
    }
}