.wrapper {
    display: grid;
    row-gap: 10px;
    position: absolute;
    font-size: 26px;
    width: 100%;
    max-height: 70px;
    height: 70px;
    color: #393E46;
    z-index: 99;
    overflow: hidden;
}

.wrapper_grid_cols {
    grid-template-columns: 240px 1fr 240px;
}


.historyContainer {
    display: flex;

}

.history {
    padding: 0 5px;
}

.history::after {
    content: " >";
}

.history:last-child::after {
    content: "";
}

.grid_container {
    background-color: #393E46;
    max-height: 70px;
    border: 1px solid #F7F7F7;

}

.option_container {
    display: flex;
    justify-content: right;
}

.logo {
    margin: 5px 20px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
    float: left;
}

.title {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    margin-right: 20px;
}

.cursor_click {
    cursor: pointer;
}

.drawer_button {
    display: none;
    margin: 0 10px;
}

.float_left {
    float: left !important;
}

.float_right {
    float: right !important;
}

.left {
    text-align: left;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .wrapper {
        color: #F7F7F7;
        background-color: #393E46;
    }
}

@media(max-width: 1100px) {
    .wrapper {
        font-size: 23px;
        min-width: 860px;
    }

    .wrapper_grid_cols {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .drawer_button {
        float: left;
        display: inline;
    }

}

@media screen and (max-width:500px) {
    .wrapper {
        font-size: 16px;
        min-width: 100%;
    }

    .wrapper_grid_cols {
        grid-template-columns: 1fr 5fr 1.3fr;
    }

    .title {
        text-align: center;
        vertical-align: middle;
        line-height: 35px;
        margin-right: 5px;
    }

    .option_container {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .drawer_button {
        margin: 19px 10px;
    }
}